<%- include('layout/header5') %>

<div class="card-body p-4">
    <form action="/dregister" method="POST">
            <label for="Doctor ID">Doctor ID</label>
            <input type="text" id="doctorid" name="doctorid" class="form-control form-control-lg" required/>
            <label for="specialization">Specialization</label>
            <input type="text" id="specialization" name="specialization" class="form-control form-control-lg" required/> 
            <label for="Phone Number">Phone Number</label>
            <input type="text" id="phone" name="phone" class="form-control form-control-lg" required/> 
            <label for="fess">Fees</label>
            <input type="text" id="fees" name="fees" class="form-control form-control-lg" required/> 
            <input type="submit" name="submit" value="New Doctor" class="btn btn-primary btn-lg"/> 
    </form>

</div>

<%- include('layout/footer2') %>