<%- include('layout/header4') %>

<div class="card-body p-4">
    <form action="/pregister" method="POST">
            <label for="Patient ID">Patient ID</label>
            <input type="text" id="patientid" name="patientid" class="form-control form-control-lg" required/>
            <label for="age">Age</label>
            <input type="text" id="age" name="age" class="form-control form-control-lg" required/> 
            <label for="Gender">Gender</label>
            <input type="text" id="gender" name="gender" class="form-control form-control-lg" required/> 
            <label for="diabetes">diabetes</label>
            <input type="text" id="diabetes" name="diabetes" class="form-control form-control-lg" required/> 
            <label for="copd">copd</label>  
            <input type="text" id="copd" name="copd" class="form-control form-control-lg" required/>
            <label for="copd">asthma</label>  
            <input type="text" id="asthma" name="asthma" class="form-control form-control-lg" required/>
            <input type="submit" name="submit" value="New Patient" class="btn btn-primary btn-lg"/> 
    </form>

</div>

<%- include('layout/footer2') %>