<%- include('layout/header') %>



<head>
  <meta charset="utf-8">
  <title>Bar Chart Example</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <canvas id="myChart"></canvas>
  <img src="/public/images/Visualization1.jpg"></script>
</body>



<%- include('layout/footer') %>