<main>
    <h6>Welcome to our Hospital Management System</h6>
    <p>We provide easy and quick access to booking and canceling appointments, as well as managing your appointments.</p>
</main>


<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.bundle.min.js" integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
    
</body>
</html>